.portfolio__link {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  color: #000000;
  text-decoration: none;
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.portfolio__link:hover {
  opacity: 0.7;
}

.portfolio__link::after {
  content: "";
  height: 30px;
  width: 30px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 12px;
  right: 0;
  background-image: url(../../../images/link.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .portfolio__link {
    font-size: 18px;
    line-height: 28px;
  }
  .portfolio__link::after {
    content: "";
    height: 18px;
    width: 18px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 6px;
    right: 0;
    background-image: url(../../../images/link.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 18px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .portfolio__link {

  }
}
