.about-me__container {
  padding: 0;
  margin-top: 66px;
  margin-bottom: 0;
  margin-left: 70px;
  margin-right: 70px;
  width: auto;

  display: grid;
  grid-template-areas:
        "title photo"
        "major photo"
        "text  photo"
        "links  photo";

  grid-template-columns: 600px 1fr;
  grid-template-rows: 58px 20px minmax(88px, 1fr) 18px;
  row-gap: 18px;
}