.about-me__major {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #111111;
  mix-blend-mode: normal;
  padding: 0;
  margin: 0;
  grid-area: major;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .about-me__major {
    font-size: 11px;
    line-height: 16px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .about-me__major {

  }
}
