.search-form__button {
  /* border-bottom: 1px solid #E8E8E8; */

  box-sizing: content-box;
  /* display: flex; */
  /* flex-direction: row; */
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: #3456F3;
  border: 0;
  /* border: 1px solid #3456F3; */
  margin: 0;
  padding: 0;
  position: absolute;
  right: 7px;
  top: 88px;
  cursor: pointer;
  background-image: url(../../../images/search.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22px;
  /* border-radius: 48px; */
}