.search-form__button {
  box-sizing: content-box;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: #3456f3;
  border: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 7px;
  top: 88px;
  cursor: pointer;
  background-image: url(../../../images/search.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .search-form__button {

  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .search-form__button {
    right: 7px;
    top:8px;
  }
}