.movie-card {
  width: 270px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .movie-card {
    width: 300px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .movie-card {
    width: 339px;
  }
}