.button_dislike {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 0;
  align-items: center;
  display: flex;
  cursor: pointer;
  background-image: url(../../../images/delete.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  opacity: 0;
}

.button_dislike:hover {
  opacity: 1;
}