.portfolio__list {
  list-style: none;
  margin-top: 50px;
  margin-bottom: 125px;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .portfolio__list {
    margin-bottom: 70px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .portfolio__list {

  }
}